# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/
.kotlin/

# Local config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Signing keys
*.jks
*.keystore
